<!-- Icons -->
<div class="mt-4">
    <div class="container">
        <div class="row">
           

            <div class="col col-lg-3">
                <div class="d-flex align-items-center justify-content-center gap-2">
                    <hr class="w-25 text-black bg-light">
                    <p class="mb-0 form-icon bg-purple"><i class="fa-solid fa-archway "></i></p>
                    <p class="mb-0 fw-bold">Restaurant</p>
                </div>
            </div>

            <div class="col col-lg-3">
                <div class="d-flex align-items-center justify-content-center gap-2">
                    <hr class="w-25 text-black bg-light">
                    <p class="mb-0 form-icon bg-purple"><i class="fa-solid fa-location-dot"></i></p>
                    <p class="mb-0 fw-bold">Location</p>
                </div>
            </div>

            <div class="col col-lg-3">
                <div class="d-flex align-items-center justify-content-center gap-2">
                    <hr class="w-25 text-black bg-light">
                    <p class="mb-0 form-icon bg-purple"><i class="fa-regular fa-user"></i></p>
                    <p class="mb-0 fw-bold">Contact</p>
                </div>
            </div>

            <div class="col col-lg-3">
                <div class="d-flex align-items-center justify-content-center gap-2">
                    <hr class="w-25 text-black bg-light">
                    <p class="mb-0 form-icon bg-purple"><i class="fa-regular fa-circle-check"></i></p>
                    <p class="mb-0 fw-bold">Verification</p>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Form -->
<div class="register-frenchise">
    <div class="container">
        <div class="card p-5 mt-5 rounded-5">
            <div class="row">

              <h4 class="fw-bold mb-3">Restaurant</h4>

              <div class="col col-lg-3">
                <p class="mb-1 text-black-50">Restaurant Name</p>
                <p class="fw-bold">Culinary Canvas Café</p>
              </div>

                
              <div class="col col-lg-2">
                <p class="mb-1 text-black-50">Start Date</p>
                <p class="fw-bold">2012</p>
              </div>

                
              <div class="col col-lg-2">
                <p class="mb-1 text-black-50">Specialty</p>
                <p class="fw-bold">Cappuccino</p>
              </div>

                
              <div class="col col-lg-5">
                <p class="mb-1 text-black-50">Website Link</p>
                <p class="fw-bold">https://exampleculinarycanvascafe.com</p>
              </div>

                
              <h4 class="fw-bold my-3">Address</h4>

              <div class="col col-lg-3">
                <p class="mb-1 text-black-50">Neighborhood</p>
                <p class="fw-bold">United States</p>
              </div>

              <div class="col col-lg-3">
                <p class="mb-1 text-black-50">Zip Code</p>
                <p class="fw-bold">24582</p>
              </div>

              <div class="col col-lg-3">
                <p class="mb-1 text-black-50">City</p>
                <p class="fw-bold">Kansas City</p>
              </div>

              <div class="col col-lg-3">
                <p class="mb-1 text-black-50">State</p>
                <p class="fw-bold">Rhode Island</p>
              </div>

              <div class="col col-lg-3">
                <p class="mb-1 text-black-50">Country</p>
                <p class="fw-bold">Unites States</p>
              </div>

              <div class="col col-lg-3">
                <p class="mb-1 text-black-50">Outside Number</p>
                <p class="fw-bold">+12 545522</p>
              </div>

              <div class="col col-lg-3">
                <p class="mb-1 text-black-50">Inner Number</p>
                <p class="fw-bold">+85 2455452</p>
              </div>

             

              <h4 class="fw-bold my-3">Contact</h4>

              <div class="col col-lg-3">
                <p class="mb-1 text-black-50">Name</p>
                <p class="fw-bold">Jhon</p>
              </div>

              <div class="col col-lg-3">
                <p class="mb-1 text-black-50">Surname</p>
                <p class="fw-bold">Alexander</p>
              </div>

              <div class="col col-lg-3">
                <p class="mb-1 text-black-50">Email</p>
                <p class="fw-bold">john123Example.com</p>
              </div>

              <div class="col col-lg-3">
                <p class="mb-1 text-black-50">Phone</p>
                <p class="fw-bold">+123456789</p>
              </div>

              <div class="col col-lg-3">
                <p class="mb-1 text-black-50">Password</p>
                <p class="fw-bold">**********</p>
              </div>

              <div class="col col-lg-3">
                <p class="mb-1 text-black-50">Confirm Password</p>
                <p class="fw-bold">*********</p>
              </div>


                <div class="col col-lg-12 mt-5">
                    <div class="d-flex justify-content-end gap-3">
                        <button type="button" class="btn btn-light form-btn" (click)="goToVerification()">Back</button>
                        <button type="button" class="btn btn-light form-btn" (click)="goToLayout()">Next</button>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>

